biopython==1.84
dask==2024.7.1
distributed==2024.7.1
fastavro==1.9.5
keras==2.10.0
keras-preprocessing==1.1.2
numpy==1.26.4
pandas==2.2.2
pyspark==3.4.1
pytest==9.0.2
python==3.10.8
scikit-learn==1.5.1
scipy==1.14.0
setuptools==72.1.0
tensorflow==2.10.0
