# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Pytest

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
        activate-environment: synsor
        environment-file: environment.yml

    - name: Set PySpark environment variables
      run: |
        echo "PYSPARK_PYTHON=python" >> $GITHUB_ENV
        echo "PYSPARK_DRIVER_PYTHON=python" >> $GITHUB_ENV

    # Step 5: Run pytest
    - name: Run tests
      run: |
        conda activate synsor
        pytest tests
